* {
  font-family: 'Pontano Sans', sans-serif;
}

a.list-group-item:hover {
  background-image: url('/images/food.png')
}

button:hover {
  cursor: pointer;
}

textarea {
  overflow: auto;
}

.container {
  margin: 10px auto 20px auto;
}

.jumbotron {
  /* background-image: url('/images/fresh_snow.png'); */
  background-image: url('/images/food.png');
}

#create-button:hover {
  background-color: #3066BE;
}

#post-recipe {
  white-space: pre-line;
}
